<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>  
        <!-- Nav Bar -->
        <nav>
            <!-- Application Name -->
            <div class="app-name-box">
                <h1>Caregiver Connection</h1>
            </div>

            <!-- Nav Links -->
            <div class="app-nav-box">
                <ul>
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Fellow Nurses</a></li>
                    <li><a href="#">Favorites</a></li>
                    <li><a href="">Hospitals</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <hr>
        <h3>&copy; 2022 Caregiver Connection</h3>
    </footer>
    {{!-- <script src="/js/logout.js"></script> --}}
</body>