<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caregiver Connection</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{log this}}
    <!-- Header -->
    <header>  
        <!-- Nav Bar -->
        <nav>
            <!-- Application Name -->
            <div class="app-name-box">
                <h1>Caregiver Connection</h1>
            </div>

            <!-- Nav Links -->
            <div class="app-nav-box">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="/users">Fellow Nurses</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/hospitals">Hospitals</a></li>
                    <li><a href="/find-ride">Find a Ride</a></li>
                    <li><a href="/contact-nurse">Contact Nurse</a></li>
                    
                    {{#if logged_in}}
                        <li><a href="/api/users/logout">Logout</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <hr>
        <h3>&copy; 2022 Caregiver Connection</h3>
    </footer>
</body>