<div class="main-box box">
  <div class="form-heading">Contact</div>
  <form action="" id="contact">
    <img src="http://placekitten.com/300/300" alt="A picture of a hospital">  
  </form>
  {{#each users}}
    <h1>{{name}}</h1>
  {{/each}}
  <h1>Nurse name</h1>
  <h1>We will let you know if we can provide a ride</h1>
  <div class="btns-box">
    <button class="main-btn">Email</button>
    <button class="main-btn">Phone</button>
  </div>
</div>
