<div class="contact">
  <div class="form-heading">Contact</div>
  <form action="" id="contact">
      <img src="https://www.tjminc.com/wp-content/uploads/2020/01/tj-mccartney-hospital-mass-gen-lunder-building-2.jpg" width="500px" height="400px" alt="hospital" class="center"/>
      
  </form>
  {{#each users}}
  <h1>{{name}}</h1>
  {{/each}}
    <h1>Nurse name</h1>
    <h1>We will let you know if we can provide a ride</h1>
    <button class="emailC">Email</button>
    <button class="pNumber">Phone</button>

</div>
