<div class="form">
  <div class="form-heading">Schedule A Ride</div>
  <form action="" id="rideForm">

    <label for="pickUp"><span>Pickup location: <span class="required"> *</span></span><input type="text" class="input-field" name="pickUp" id="pickUp" placeholder="123 sesame st."/></label>

    <label for="passengers"><span>Passengers</span><span class="required">*</span><select name="passengers" class="passengers" id="passengers" value="">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select></label>
    <h1>GPS Location Map</h1>
    <img src="https://www.tjminc.com/wp-content/uploads/2020/01/tj-mccartney-hospital-mass-gen-lunder-building-2.jpg" width="500px" height="400px" alt="hospital" class="center"/>
    

    <label for="dropOff"><span>Drop Off location:<span class="required"> *</span></span><input type="text" class="input-field" name="dropOff" id="dropOff" placeholder="1201 S Miller St, "/></label>

    <label for="shiftTime"><span>Shift block<span class="required"> *</span></span><input type="text" class="input-field" name="shiftTime" id="shiftTime" placeholder="06:00 - 18:00"/></label>

    <label for="date"><span>Date for ride:<span class="required">*</span></span><input type="text" class="input-field" name="date" id="date" placeholder="11/15/2022"/></label>

    <button class="bookRide">Schudle Ride</button>
    <button class="cancelRide">Cancel</button>
    <p><a href="/profile">Back to profile!</a></p>
    
  </form>
</div>

<script src="/js/signup.js"></script>













