<h1>Welcome to Caregiver Connection. Please <li><a href="/signup">Sign Up</a></li> or <li><a href="/login">Login</a></li>!</h1>

<div class="form">
  <form action="" id="signup">
    <img src="https://www.tjminc.com/wp-content/uploads/2020/01/tj-mccartney-hospital-mass-gen-lunder-building-2.jpg" width="400px" height="400px" alt="hospital" /> 

</form>