<div class="form">
  <h3 class="form-heading">Login</h3>
  <div class="box">
    <form action="" id="login">
      <label for="loginEmail"><span>E-mail<span class="required"> *</span></span><input type="text" class="input-field" name="loginEmail" id="loginEmail" placeholder="you@place.com"/></label>
      <label for="loginPassword"><span>Password<span class="required"> *</span></span><input type="text" class="input-field" name="loginPassword" id="loginPassword" placeholder="super secret password"/></label>
      <label><input type="submit" value="Login" class="main-btn"/></label>
    </form>
    <p class="link-text"><a href="/signup">Need to sign up?</a></p>
    <img class="" src="https://www.tjminc.com/wp-content/uploads/2020/01/tj-mccartney-hospital-mass-gen-lunder-building-2.jpg" width="400px" height="350px" alt="hospital"/>
  </div>
</div>

<script src="/js/login.js"></script>
