<div class="form">
  <div class="form-heading">Sign-up</div>
  <div class="box">
    <form action="" id="signupForm">

<<<<<<< HEAD
      <label for="signupNurseId"><span>Nurse ID<span class="required"> *</span></span><input type="text" class="input-field" name="signupNurseId" id="signupNurseId" placeholder="RN00000000"/></label>

      <label for="signupName"><span>Name<span class="required"> *</span></span><input type="text" class="input-field" name="signupName" id="signupName" placeholder="John/Jane Doe"/></label>

      <label for="signupEmail"><span>E-mail<span class="required"> *</span></span><input type="text" class="input-field" name="signupEmail" id="signupEmail" placeholder="you@place.com"/></label>

      <label for="signupPassword"><span>Password<span class="required"> *</span></span><input type="password" class="input-field" name="signupPassword" id="signupPassword" placeholder="supersecretpassword"/></label>

      <label for="signupPhoneNumber"><span>Phone Number</span><input type="text" class="input-field" name="signupPhoneNumber" id="signupPhoneNumber" value="" placeholder="111-222-3333"/></label>

      <label for="signupBio"><span>Biography</span><textarea class="input-field" name="signupBio" id="signupBio" value="" placeholder="Now this is a story all about how..."></textarea></label>

      <label for="signupReferral"><span>Referral</span><select name="signupReferral" class="select-field" id="signupReferral" value="" >
=======
    <label for="signupNurseId"><span>NurseId</span><input type="text" class="input-field" id="signupNurseId"
        name="signupNurseId" required minlength="10"><span class="error"></span></label>

    <label for="signupName"><span>name</span><input type="text" class="input-field" id="signupName"
        name="signupName" required ><span class="error"></span></label>

    <label for="signupEmail"><span>Email</span><input type="email" class="input-field" id="signupEmail"
        name="signupEmail" required minlength="8" placeholder="Jon@jon@gmail.com"></label><span class="error"></span>

    <label for="signupPassword"><span>Password</span><input type="password" class="input-field" id="signupPassword"
        name="signUpPassword" required minlength="8" placeholder="secret password"><span class="error"></span></label>

    <label for="signupPhoneNumber"><span>Phone Number</span><input type="text" class="input-field"
        name="signupPhoneNumber" id="signupPhoneNumber" value="" placeholder="111-222-3333" /></label>

    <label for="signupBio"><span>Biography</span><textarea class="input-field" name="signupBio" id="signupBio" value=""
        placeholder="Now this is a story all about how..."></textarea></label>

    <label for="signupReferral"><span>Referral</span><select name="signupReferral" class="select-field"
        id="signupReferral" value="">
>>>>>>> dev
        <option value="friend">Friend</option>
        <option value="web">Website</option>
        <option value="other">Other</option>
      </select></label>

<<<<<<< HEAD
      <label for="signupStreetAddress"><span>Street Address</span><input type="text" class="input-field" name="signupStreetAddress" id="signupStreetAddress" value=""  placeholder="1234 Main St."/></label>

      <label for="signupCity"><span>City</span><input type="text" class="input-field" name="signupCity" id="signupCity" value="" placeholder="Gotham City"/></label>

      <label for="signupZipCode"><span>Zip Code</span><input type="text" class="input-field" name="signupZipCode" id="signupZipCode" value="" placeholder="90210"/></label>

      {{!-- TODO: HospitalId --}}
      <label for="signupHospital"><span>Hospital</span><select name="signupHospital" class="select-field" id="signupHospital" value="">
=======
    <label for="signupStreetAddress"><span>Street Address</span><input type="text" class="input-field"
        name="signupStreetAddress" id="signupStreetAddress" value="" placeholder="1234 Main St." /></label>

    <label for="signupCity"><span>City</span><input type="text" class="input-field" name="signupCity" id="signupCity"
        value="" placeholder="Gotham City" /></label>

    <label for="signupZipCode"><span>Zip Code</span><input type="text" class="input-field" name="signupZipCode"
        id="signupZipCode" value="" placeholder="90210" /></label>

    {{!-- TODO: HospitalId --}}
    <label for="signupHospital"><span>Hospital</span><select name="signupHospital" class="select-field"
        id="signupHospital" value="">
>>>>>>> dev
        <option value="friend">H1</option>
        <option value="web">H2</option>
        <option value="other">H3</option>
      </select></label>

      {{!-- TODO: shift-info -- NEEDS TO BECOME SHIFT RELATED INFO, TIED TO ShiftId --}}

<<<<<<< HEAD
      <label for="signupIsDriving"><span>Available to Drive</span><input type="checkbox" class="checkbox-field" name="signupIsDriving" id="signupIsDriving" onclick="showCarForm()"></label>
=======
    <label for="signupIsDriving"><span>Available to Drive</span><input type="checkbox" class="checkbox-field"
        name="signupIsDriving" id="signupIsDriving" onclick="showCarForm()"></label>
>>>>>>> dev

      <br>

<<<<<<< HEAD
      {{!-- TODO: Only show whats below if is_driving is checked. --}}
      <div class="driving-box">
        <label for="signupLicensePlate"><span>Lincense Plate</span><input type="text" class="input-field" name="signupLicensePlate" id="signupLicensePlate" value=""  placeholder="A1 UX861"/></label>

        <label for="signupCarMake"><span>Car Make</span><input type="text" class="input-field" name="signupCarMake" id="signupCarMake" value="" placeholder="Bugatti"/></label>

        <label for="signupCarModel"><span>Car Model</span><input type="text" class="input-field" name="signupCarModel" id="signupCarModel" value="" placeholder="La Voiture Noir"/></label>

        <label for="signupCarColor"><span>Car Color</span><input type="text" class="input-field" name="signupCarColor" id="signupCarColor" value="" placeholder="Black"/></label>
      </div>

      {{!-- TODO: Add profile picks using cloudinary --}}
      
      <label><input type="submit" value="Sign-up" class="main-btn"/></label>
    </form>

    <p class="link-text"><a href="/login">Need to login?</a></p>
  </div>
=======
    {{!-- TODO: Only show whats below if is_driving is checked. --}}
    <div class="driving-box">
      <label for="signupLicensePlate"><span>Lincense Plate</span><input type="text" class="input-field"
          name="signupLicensePlate" id="signupLicensePlate" value="" placeholder="A1 UX861" /></label>

      <label for="signupCarMake"><span>Car Make</span><input type="text" class="input-field" name="signupCarMake"
          id="signupCarMake" value="" placeholder="Bugatti" /></label>

      <label for="signupCarModel"><span>Car Model</span><input type="text" class="input-field" name="signupCarModel"
          id="signupCarModel" value="" placeholder="La Voiture Noir" /></label>

      <label for="signupCarColor"><span>Car Color</span><input type="text" class="input-field" name="signupCarColor"
          id="signupCarColor" value="" placeholder="Black" /></label>
    </div>

    {{!-- TODO: Add profile picks using cloudinary --}}

    <label><span> </span><input type="submit" value="Sign-up" /></label>
    <p><a href="/login">Need to login?</a></p>
  </form>
>>>>>>> dev
</div>

<script src="/js/signup.js"></script>