/* Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cloudinary_button {
    padding: 0%;
    margin-left: 1%;
}

#uploadedimage {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

/* Variable Declaration */
:root {
    --primary-color: #0e3a67;
    --secondary-color: #dde3eb;
    --tertiary-color: #AA8B56;
    --primary-text: #000000;
    --secondary-text: #dde3eb;
}

/* Body Element */
body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--secondary-color);
}

/* Header Elements */
nav {
    background-color: var(--primary-color);
    color: var(--secondary-text);
    flex-direction: column;
    justify-content: center;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--tertiary-color);
}

.app-name-box {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

.app-name-box h1 {
    margin: 0.5em;
}

.app-nav-box {
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    padding: 0.5em;
    
}

nav a {
    margin: 0.5em;
    color: var(--secondary-text);
    padding: 0em 2em;
    position: relative;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-text);
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: transform ease-in-out 250ms;
}

/* Form Elements */
.form {
	max-width: 500px;
	padding: 20px 12px 10px 20px;
    color: var(--primary-text);
    display: block;
    margin-left: 35%;
}

.form-heading {
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid var(--tertiary-color);
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}

.form a {
    text-decoration: none;
    color: var(--primary-text);
}

.form a:hover {
    text-decoration: none;
    color: var(--tertiary-color);
}

.form label {
	display: block;
	margin: 0px 0px 15px 0px;
}

.form label > span {
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

.form span.required {
	color: #CF0A0A;
}

.form input.input-field {
	width: 48%;	
}

.form input.input-field {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 3px solid var(--primary-text);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}

.form .input-field:focus {
	border: 3px solid var(--tertiary-color);
}

.form input[type=submit],
.form input[type=button] {
	border: none;
	padding: 8px 15px 8px 15px;
	background: var(--secondary-color);
	color: var(--primary-text);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.form input[type=submit]:hover,
.form input[type=button]:hover {
	background: var(--primary-text);
	color: var(--secondary-color);
}

.driving-box {
    display: none;
}
h1 {
    text-align: center;
    margin: 0.6em;
}

button {
    margin: 0.6em;
    padding: 0em 2em;
    text-decoration: none;
    margin-left: 47%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
	padding: 20px 12px 10px 20px;
    color: var(--primary-text);
    display: block;
}